#{extends 'include.html' /} 
#{set title:'Filtrar Tasks por Responsavel e Status' /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich">

<body>
	
	<form id="form" action="@{Issues.filtarTasksResponsavelStatus}" method="get" >
		<div style="width: 100%" align="center">
			<div style="width: 30%" align="center">
				<table class="table table-bordered" align="center" width="100%">
					<caption> Buscar por Tarefas </caption>
					<thead>
						<tr>
							<td>
								<input id="checkResponsavel" type="checkbox" name="checkResponsavel"/>
							</td>
							<td>
								Responsável:
							</td>
							<td align="left">
								<input type="text" name="responsavel" class="form-control" />
							</td>
						</tr>
						<tr>
							<td>
								<input id="checkSituacao" type="checkbox" name="checkSituacao" />
							</td>
							<td>
								Situação:
							</td>
							<td align="left">
								<select name="status">
									<option value="0" > --Selecione-- </option>
									<option value="1" > Nova </option>
									<option value="2" > Em andamento </option>
									<option value="3" > Resolvida </option>
									<option value="4" > Feedback </option>
									<option value="5" > Fechada </option>
									<option value="6" > Rejeitada </option>
								</select>
							</td>
						</tr>
		
					</thead>
					<tfoot align="center">
						<tr>
							<td colspan="3">
								<input type="submit" value="Buscar"/>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</form>
	
	#{if tarefas.empty}
		<div align="center">
			<p style="color: red;"> Nenhuma Tarefa relacionada no sistema. </p>
		</div>
	#{/if}

	#{if !tarefas.empty}
		<table class="table table-striped table-bordered">
			<tr>
				<th width="1%" align="center"> 
					Id
				</th>
				<th width="1%" align="center"> 
					Descrição 
				</th>
			</tr>
			
			#{list items: tarefas, as:'tarefa'}
				<tr>
					<td align="center">
						${tarefa.id}
					</td>
					
					<td align="center">
						${tarefa.description}
					</td>
				</tr>
			#{/list}
		</table>
	#{/if}
	
	</body>
</html>
