#{extends 'include.html' /} 
#{set title:'Jira - Funcionalidades Extras' /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich">

<script type="text/javascript">
	function filtarTasksResponsavelStatus() {
		window.open("@{Issues.filtarTasksResponsavelStatus}", "_top");
	}
</script>

<body>

	<div align="center"  style="width: 100%;">
		<div style="width: 40%;">	
			<table class="table table-striped table-bordered" align="center">
				<caption> Atividades Implementadas - TCC </caption>
				<tr>
					<th> Tasks por responsavel e por status: </th>
					<td align="center"> 
						<button type="button" class="btn btn-success" onclick="filtarTasksResponsavelStatus()">Entar</button> 
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>
