#{extends 'include.html' /} 
#{set title:'Jira - TCC' /}

<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login-box.css'}"/>

#{cabecalho/}

</br>

<body>
	<div style=" width: 20%;margin-left: 360px;" > 
		<table>
			<tr>
				<td>
					<div id="login-body" style="padding: 330px 0 0 550px;"/>
				</td>
			</tr>
		</table>
		<!-- table > 
			<tr>
				<th> Principal </th>
			</tr>
			<tr>
				<td>
					<input type="button" value="Buscar Usuario" onclick="buscarUsuario()">
				</td>
			</tr>
			<tr>
				<td>
					<input type="button" value="Listar Usuarios" onclick="listarUsuarios()"/>
				</td>
			</tr>
		</table-->
	</div>
</body>

#{rodape/}